.*
*.pyc
*.npy
*.p
*.log
*~

!/.gitignore
#*

cs137_2channel_pulses.li
cs137_2channel_pulses.npy
cs137_2channel_pulses.txt

background_2channel_pulses.li
background_2channel_pulses.npy
background_2channel_pulses.txt